<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	crossorigin="anonymous">

<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/fff956a6e2.js" crossorigin="anonymous"></script>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
td {
	font-size: 14px;
}


.row {
	margin-bottom: -2em;
}

.card-img-top {
	width: 100%;
	height: 15em;
}

.card-body {
	height: 10em;
}

.card-footer {
	font-size: 10px;
	text-align: center;
}

#profile {
	width: 6em;
	border-radius: 100px;
	margin-top: -70px
}


.profile-head {
	transform: translateY(5rem);
	margin-bottom: 70px;
	margin-top: -70px
}

.cover {
	background-image:
		url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
	background-size: cover;
	background-repeat: no-repeat
}

header{
	background-color: white;
}

body {
	background: #654ea3;
	background: linear-gradient(to right, #e96443, #904e95);
	min-height: 100vh;
	overflow-x: hidden;
}

</style>
</head>

<body>

	<div th:replace="fragments/navbar"></div>
	<div class="row py-5 px-4" >
		<div class="col-md-5 mx-auto">
			<div class="bg-white shadow rounded overflow-hidden">
				<div class="px-4 pt-0 pb-4 cover">
					<div class="media align-items-end profile-head" th:each="usuario : ${usuario}">
						<div class="profile mr-3" >
							<img
								src="https://www.mendozapost.com/files/image/7/7142/54b6f4c45797b_360_480!.jpg?s=bf284228883a747d8dc7886e606a181f&d=1638248546"
								alt="..." width="130" class="rounded mb-2 img-thumbnail">
						
						</div>
						<a th:Href="@{/usuario/editar/{id}(id=${usuario.id})}"
					class="btn btn-info">Editar perfil</a>
						<div class="media-body mb-5 text-white"
							th:each="usuario : ${usuario}">
							<h4 class="mt-0 mb-0" th:text="${usuario.nombre}"></h4><h4 th:text="${usuario.apellido1}"></h4>
							<p class="small mb-4">
								 San Carlos <i class="fa-solid fa-street-view"></i>
							</p>
						</div>
					</div>
				</div>
				<div class="bg-light p-4 d-flex justify-content-end text-center">
					
					<ul class="list-inline mb-0">
					
						<li class="list-inline-item">
							<h5 class="font-weight-bold mb-0 d-block">3</h5> <small
							class="text-muted"> <i class="fas fa-image mr-1"></i>Piezas
								vistas
						</small>
						</li>
						<li class="list-inline-item">
							<h5 class="font-weight-bold mb-0 d-block">2</h5> <small
							class="text-muted"> <i class="fas fa-user mr-1"></i>Valoraciones
								entregadas
						</small>
						</li>
					</ul>
				</div>
				<div class="px-4 py-3">
					<h5 class="mb-0">Información personal</h5>
					<div class="p-4 rounded shadow-sm bg-light"
						th:each="usuario : ${usuario}">
						<h6>Apellido Paterno</h6>
						<p class="font-italic mb-0" th:text="${usuario.apellido1}"></p>
						<br>
						<h6>Apellido Materno</h6>
						<p class="font-italic mb-0" th:text="${usuario.apellido2}">Lives
							in New York</p>
							<br>
						<h6>Fecha de nacimiento</h6>
						
						<p class="font-italic mb-0" th:text="${usuario.nacimiento}">Photographer</p>
						<br>
						<h6>RUT</h6>
						<p class="font-italic mb-0" th:text="${usuario.id}">Photographer</p>
					</div>
					<br > 
					<div th:each="usuario : ${usuario}">
					
					<a style="margin-left: 40%" th:Href="@{/usuario/eliminar/{id}(id=${usuario.id})}" class="btn btn-danger">Eliminar Cuenta</a>
				
					</div>
				</div>
				
				<div class="py-4 px-4">
					<div class="d-flex align-items-center justify-content-between mb-3">
						<h5 class="mb-0">Fotos de posibles residencias aportadas</h5>
					</div>
					<div class="row">
						<div class="col-lg-6 mb-2 pr-lg-1">
							<img
								src="https://miguiaargentina.com.ar/Imagenes/b/790078211-1-residencia-universitaria-moreno.jpeg"
								alt="" class="img-fluid rounded shadow-sm">
						</div>
						<div class="col-lg-6 mb-2 pl-lg-1">
							<img
								src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkc_7GoUYUN9yZSegR49yVcLGwCYEel8N65f200Uph0ImZpGXhfXOfzGSL8lZ__MvcE4w&usqp=CAU"
								alt="" class="img-fluid rounded shadow-sm">
						</div>
						<div class="col-lg-6 pr-lg-1 mb-2">
							<img
								src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL8RkDIQf8qfojEXV5ZLuJtCaiv5DGrklZJqKyrde8hoch_-0bEfvxenIn9um1srMx0hs&usqp=CAU"
								alt="" class="img-fluid rounded shadow-sm">
						</div>
						<div class="col-lg-6 pl-lg-1">
							<img
								src="https://http2.mlstatic.com/D_NQ_NP_630910-MLU52000836054_102022-W.jpg"
						
								alt="" class="img-fluid rounded shadow-sm">
						<br>
						</div>
						
						<div>
						<br>
					</div>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<br>
</body>
</html>