<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            font-size: 14px;
        }
        
        .row{
            margin-bottom: 2em;
        }

        .card-img-top{
            width: 100%;
            height: 15em;
        }
        .card-body{
            height: 10em;
        }

        .card-footer{
            font-size: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container-sm">
        <div class="row">
            <header class="p-3 mb-3 border-bottom">
                <div class="container">
                  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                    </a>
            
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                      <li><a href="/Residencias.html" class="nav-link px-2 link-secondary">Residencias</a></li>
                      <li><a href="/Piezas.html" class="nav-link px-2 link-dark">Piezas</a></li>
                      <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                      <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
                    </ul>
            
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form>
            
                    <a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </header>
            
        </div>


        <div class="row justify-content-center">
            <div class="col-3">
                <img src="https://github.com/mdo.png" width="200" class="rounded-circle">
                <form>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Seleccione imagen</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </form>
            </div>
            <div class="col-4">
                <form>
                    <div class="mb-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="correo">
                    </div>
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha nacimiento</label>
                        <input type="date" class="form-control" id="fecha">
                    </div>
                    <div class="mb-3">
                        <label for="institucion" class="form-label">Institución académica</label>
                        <input type="text" class="form-control" id="institucion">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="direccion" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="direccion">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="comuna" class="form-label">Comuna</label>
                                <input type="text" class="form-control" id="comuna">
                            </div>
                        </div>
                    </div>
                    
                    

                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
        
    </div>
        
</body>
</html>